* {
  margin: 0;
  color: white;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

body {
  background-color: lightslategray;
}

.icon {
  display: flex;
  width: 35px;
  height: 35px;
}

.list-enter-active,
.list-leave-active {
  transition: all 2s linear;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

.fade-out-anim {
  animation: fade-out 1s;
}

.fade-in-anim {
  animation: fade-in 1s;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes focus {
  0% {
    opacity: 1;
  }
  50% {
    border-bottom: 1px solid red;
    color: red;
  }
  100% {
    opacity: 1;
  }
}

.invisible {
  opacity: 0;
  z-index: 0;
}

.anim-pulse {
  animation: pulse 2s linear;
  animation-iteration-count: 2;
}

.anim-focus {
  animation: focus 2s linear infinite;
}
